.header {
    background-attachment: scroll;
    background-position: top left, center center;
    background-size: auto, cover;
    left: auto;
    padding: 4.5em 1.5em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    display: block;
	background: #23074d;
	background: -webkit-linear-gradient(to right, #cc5333, #23074d);
	background: linear-gradient(to right, #cc5333, #23074d);
}